In [1]:
# # Dictionary
# Indexing
# Multiple and duplicate data
# Ordered
# Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>,<key>:<value>}
# d

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [7]:
print(d['a'])
print(d['b'])

Apple
Ball

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [9]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
for i in d:
    print(i)

a
b
c

In [11]:
for i in d.values():
    print(i)

Apple
Ball
Cat

In [12]:
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [13]:
l = []
for i in d.items():
    l.append(i)
l

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [14]:
dict(l)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
# WAP to create a dict taking values from user
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'Ram': '9808778765', 'Shyam': '9808778765'}

In [16]:
# No + *

In [18]:
a = {'Ram': '9808778765', 'Shyam': '9808778765'}
b = {'Hari':9878778765,'Sameer':980878765}
a.update(b)
a

{'Ram': '9808778765',
 'Shyam': '9808778765',
 'Hari': 9878778765,
 'Sameer': 980878765}

In [20]:
# Update
d = {'Ram': '9808778765','Shyam': '9808778765','Hari': 9878778765,
     'Sameer': 980878765}
d['Ram'] = 9878776765
d

{'Ram': 9878776765,
 'Shyam': '9808778765',
 'Hari': 9878778765,
 'Sameer': 980878765}

In [21]:
# Add
d = {'Ram': '9808778765','Shyam': '9808778765','Hari': 9878778765,
     'Sameer': 980878765}
d['Rama'] = 9878776765
d

{'Ram': '9808778765',
 'Shyam': '9808778765',
 'Hari': 9878778765,
 'Sameer': 980878765,
 'Rama': 9878776765}

In [22]:
# delete (del pop)
d = {'Ram': '9808778765','Shyam': '9808778765','Hari': 9878778765,
     'Sameer': 980878765}
del d['Ram']
d

{'Shyam': '9808778765', 'Hari': 9878778765, 'Sameer': 980878765}

In [23]:
d = {'Ram': '9808778765','Shyam': '9808778765','Hari': 9878778765,
     'Sameer': 980878765}
b = d.pop('Ram')
print(d)
print(b)

{'Shyam': '9808778765', 'Hari': 9878778765, 'Sameer': 980878765}
9808778765

In [24]:
#list inside dict
d = {'Shyam': [9867556543,9808445432],
     'Hari': [9843556543,9808667654],
     'Sameer': [9845667654,9808778765]}
print(d)

{'Shyam': [9867556543, 9808445432], 'Hari': [9843556543, 9808667654], 'Sameer': [9845667654, 9808778765]}

In [25]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_no = int(input("Enter ntc_name = "))
    ncell_no = int(input("Enter ncell no = "))
    d[name] = [ntc_no,ncell_no]
    
d

Enter n = 2
Enter name = Ram
Enter ntc_name = 9845665432
Enter ncell no = 9808778765
Enter name = Shyam
Enter ntc_name = 9845665434
Enter ncell no = 9808667654

{'Ram': [9845665432, 9808778765], 'Shyam': [9845665434, 9808667654]}

In [29]:
#Read
print(d['Ram'])
print("NTC no of Ram",d['Ram'][0])
print("NCELL no of Ram",d['Ram'][1])

[9845665432, 9808778765]
NTC no of Ram 9845665432
NCELL no of Ram 9808778765

In [30]:
#Update
d['Ram'][0] = 9840000000
d

{'Ram': [9840000000, 9808778765], 'Shyam': [9845665434, 9808667654]}

In [31]:
# delete
del d['Ram'][0]
d

{'Ram': [9808778765], 'Shyam': [9845665434, 9808667654]}

In [32]:
# dict inside list
d = [{'name':'Ram','age':34,'add':'Kathmandu'},
    {'name':'Shyam','age':44,'add':'Bhaktapur'},
    {'name':'Hari','age':24,'add':'Lalitpur'}]
d

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 24, 'add': 'Lalitpur'}]

In [33]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
print(l)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [39]:
#read
print(l[0])

{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}

In [41]:
#Update
l[0]['name'] = "Rama"
l

[{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [42]:
# delete
del l[0]['add']
l

[{'name': 'Rama', 'age': 78}, {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}]

In [43]:
# dict inside dict
d = {1:{'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
     2:{'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}}
d

{1: {'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 89, 'add': 'Bhaktapur'}}

In [45]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'name':name,'age':age,'add':add}
    d[i] = data
print(l)

In [ ]:
# list inside dict
d = {'name':['Ram','Shyam','Hari'],
    'age':[45,67,65],
    'add':['Bhaktapur','lalitpur','Kathmandu']}