In [10]:
a = 10
print(a)

10

In [18]:
a = 10                 #int
b = 10.5               #float
c = 'Hello World'      #str
d = True               #bool
e = 3+4j               #complex
print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello World
True
10 10.5 Hello World True

In [19]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [20]:
# + - * / % ** //

In [25]:
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [26]:
a = 10
b = 3
c = a % b
print(c)

1

In [27]:
a = 10
b = 3
c = a ** b
print(c)

1000

In [28]:
a = 10
b = 3
c = a // b
print(c)

3

In [29]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(a,type(a))
print(b,type(b))
print(c,type(c))

Hello World <class 'str'>
Hello World <class 'str'>
Hello World <class 'str'>

In [32]:
# in string + *
a = "Hello "
b = "World"
c = a + b
print(c)

Hello World

In [37]:
a = "Hello World\n"
b = 4
print(a*b)

Hello World
Hello World
Hello World
Hello World

In [38]:
# In bool + * / -
a = True     #True = 1
b = False    #False= 0

print(a,b)

True False

In [41]:
print(a+b)
print(a-b)
print(a*b)

1
1
0

In [3]:
# basic io operations
# a = input()
a = input("Enter a = ")

Enter a = jghj

In [4]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 10
Enter b = 20
1020

In [10]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

Enter a = 45
Enter b = 78
123

In [9]:
a = float(input("Enter a = "))
b = float(input("Enter b = "))
c = a+b
print(c)

Enter a = 10
Enter b = 20
30.0

In [11]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of = ",i)

Enter p = 1000
Enter t = 2
Enter r = 4
The value of =  80.0

In [12]:
physics = int(input("Enter physics = "))
chemistry = int(input("Enter chemistry = "))
math = int(input("Enter math = "))
english = int(input("Enter english = "))
nepali = int(input("Enter nepali = "))

total = physics + chemistry + math + english + nepali

per = total/5

print("The total = ",total)
print("The per = ",per)

Enter physics = 78
Enter chemistry = 89
Enter math = 67
Enter english = 90
Enter nepali = 78
The total =  402
The per =  80.4

In [13]:
# WAP to calculate volume of a object
# WAP to calculate area of a circle

In [15]:
a = '12'
b = '20'
c = a+b
c

'1220'

In [16]:
a = int('10')
a

10

In [17]:
a = 10
str(a)

'10'

In [18]:
a = 'Ten'
int(a)

ValueError: invalid literal for int() with base 10: 'Ten'

In [22]:
a = 0
bool(a)

False

In [25]:
a = -10
bool(a)

True

In [31]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = "Hello World I am " + name + " I am " +str(age) + " I am from " + add
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello World I am Ram I am 34 I am from Kathmandu