In [1]:
# lambda <arguments>:<operations>

In [3]:
x = lambda a:a**2
print(x(2))

4

In [4]:
x = lambda l,b: l*b
x(10,20)

200

In [7]:
# filter
a = [1,23,4,5,6,7,8,9,10]
b = list(filter(lambda x:x%2==0,a))
b

[4, 6, 8, 10]

In [10]:
a = ["APPLE","Ball","cat","Dog","Fish","Egg"]
b = list(filter(lambda x:x.isupper(),a))
b

['APPLE']

In [11]:
a = ["APPLE","Ball","cat","Dog","Fish","Egg"]
b = list(filter(lambda x:x[0].isupper(),a))
b

['APPLE', 'Ball', 'Dog', 'Fish', 'Egg']

In [12]:
# map function
a = [1,2,3,4,5,6,7,8,9]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
a = ["APPLE","Ball","cat","Dog","Fish","Egg"]
b = list(map(lambda x:x.lower(),a))
b

['apple', 'ball', 'cat', 'dog', 'fish', 'egg']

In [14]:
a = [1,2,3,4,5,6,7,8,9]
b = list(map(lambda x:x**2,a))
b

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# comprihenson list and dict

In [16]:
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [18]:
a = [int(input("Enter value = ")) for i in range(5)]
a

Enter value = 34
Enter value = 56
Enter value = 43
Enter value = 45
Enter value = 32

[34, 56, 43, 45, 32]

In [19]:
a = sum([int(input("Enter value = ")) for i in range(5)])
a

Enter value = 78
Enter value = 45
Enter value = 34
Enter value = 56
Enter value = 34

247

In [21]:
a = [1,2,3,4,5,6,7,8,9]
b = [i for i in a if i%2==0]
b

[2, 4, 6, 8]

In [5]:
# dict
d = {input("Enter name"):input("Enter phone") for i in range(2)}
d

Enter nameRam
Enter phone9808778765
Enter nameShyam
Enter phone9808778765

{'Ram': '9808778765', 'Shyam': '9808778765'}

In [7]:
a = [1,2,3,4,5,6,7,8,9]
b = {i:i**2 for i in a}
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [8]:
# os package listdir() mkdir() rmdir() chdir() rename() remove()
import os
os.listdir()

['.ipynb_checkpoints',
 'bill.csv',
 'bill.txt',
 'billing.csv',
 'data.csv',
 'data.txt',
 'data1.txt',
 'dictionary.ipynb',
 'exep han.ipynb',
 'file.ipynb',
 'first_class.ipynb',
 'function.ipynb',
 'if else.ipynb',
 'inheritance.ipynb',
 'lambda function.ipynb',
 'list.ipynb',
 'loop.ipynb',
 'mysql.ipynb',
 'new_data.csv',
 'oop.ipynb',
 'pandas.ipynb',
 'set.ipynb',
 'string.ipynb',
 'tuple.ipynb']

In [12]:
os.mkdir('Myfolder')

In [11]:
os.rmdir('Myfolder')

In [13]:
try:
    os.mkdir('Myfolder')
except:
    pass

In [14]:
os.chdir('Myfolder')

In [15]:
pwd

'C:\\Users\\Aayush\\class_8am_Python\\Myfolder'

In [16]:
cd ..

C:\Users\Aayush\class_8am_Python

In [17]:
os.rename('Myfolder','myfolder')

In [ ]:
# beautifulsoup python