In [1]:
# # Python collection
# list
# tuple
# dict
# set

In [2]:
# # list
# indexing
# multiple and duplicate data
# Ordered
# Mutable datatype

In [4]:
a = [1,2,3,4,5,6,7,8,9]
b = ["Apple","Ball","Cat","Dog"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [7]:
print(a[1])
print(b[0])

2
Apple

In [8]:
print(a[0:5])
print(a[0:5:2])

[1, 2, 3, 4, 5]
[1, 3, 5]

In [9]:
a = [1,2,3,4,5,6,7,8,9,3,4,5,2,3,4]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 2, 3, 4]

In [10]:
# + *
a = [1,2,3,4]
b = [5,6,7,8,9]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [12]:
b = ["Apple","Ball","Cat","Dog"]
for i in b:
    print(i)

Apple
Ball
Cat
Dog

In [1]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
print(l)

Enter n = 5
Enter x = 123
Enter x = 45
Enter x = 56
Enter x = 342
Enter x = 567
[123, 45, 56, 342, 567]

In [4]:
print("Max value = ",max(l))
print("Min value = ",min(l))
print("sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Max value =  567
Min value =  45
sum =  1133
[45, 56, 123, 342, 567]
[567, 342, 123, 56, 45]

In [5]:
a = ["Ball","Goat","Fish","Ant","Egg"]
a.sort()
print(a)

['Ant', 'Ball', 'Egg', 'Fish', 'Goat']

In [6]:
# # insert data
# append() insert() extend()

# delete data
# del remove() pop()

In [7]:
a = []
a.append("Apple")
a

['Apple']

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    l.append(x)
print(l)

Enter n = 2
Enter x = Apple
Enter x = Ball
['Apple', 'Ball']

In [15]:
a = ["Ball","Goat","Fish","Ant","Egg"]
a.insert(4,"Apple")
a

['Ball', 'Goat', 'Fish', 'Ant', 'Apple', 'Egg']

In [17]:
a = [1,2,3,4,5,6]
b = [5,6,7,8,9]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9]

In [18]:
# delete data
# del remove() pop()
a = ['Ball', 'Goat', 'Fish', 'Ant', 'Apple', 'Egg']
del a[1]
print(a)

['Ball', 'Fish', 'Ant', 'Apple', 'Egg']

In [19]:
del a[0:3]
print(a)

['Apple', 'Egg']

In [20]:
# remove()
a = ['Ball', 'Goat', 'Fish', 'Ant', 'Apple', 'Egg']
a.remove('Ball')
a

['Goat', 'Fish', 'Ant', 'Apple', 'Egg']

In [22]:
a = ['Ball', 'Goat', 'Fish', 'Ant', 'Apple', 'Egg','Ball']
c = a.count('Ball')
for i in range(c):
    a.remove('Ball')
a

['Goat', 'Fish', 'Ant', 'Apple', 'Egg']

In [24]:
a = ['Ball', 'Goat', 'Fish', 'Ant', 'Apple', 'Egg','Ball']
data = a.pop(3)
print(data)
print(a)

Ant
['Ball', 'Goat', 'Fish', 'Apple', 'Egg', 'Ball']

In [26]:
# Update
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg']
a[0] = 'goat'
a

['goat', 'Fish', 'Ant', 'Apple', 'Egg']

In [27]:
# index
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg']
a.index('Ant')

2

In [29]:
# index
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg']
l = len(a)
for i in range(l):
    print(a[i])

Goat
Fish
Ant
Apple
Egg

In [31]:
# index
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish"]
l = len(a)
for i in range(l):
    if "Fish" == a[i]:
        print(i)

1
5

In [32]:
#search
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish"]
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))

Yes
1

In [35]:
# index
c = 0
a = ['Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish"]
value = input("Enter value = ")
l = len(a)
for i in range(l):
    if "Fish".lower() == a[i].lower():
        c = c+1
if c>0:
    print(f"Yes there are/is {c} no of {value}")

Enter value = Apple
Yes there are/is 2 no of Apple

In [37]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [39]:
print(a[0])
print(a[1])
print(a[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [40]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[0][0])

1

In [41]:
a = [['Ram',45,"Kathmandu"],
    ['Shyam',34,"Bhaktapur"],
    ['Hari',67,"Lalitpur"]]
print(a)

[['Ram', 45, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur'], ['Hari', 67, 'Lalitpur']]

In [42]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    l.append([name,age,add])
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 89
Enter address = lalitpur
[['Ram', 34, 'Kathmandu'], ['Shyam', 89, 'lalitpur']]

In [43]:
l.append(['Hari',34,'Kathmandu'])
l

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 89, 'lalitpur'],
 ['Hari', 34, 'Kathmandu']]

In [45]:
l[0][1] = 30
l

[['Ram', 30, 'Kathmandu'],
 ['Shyam', 89, 'lalitpur'],
 ['Hari', 34, 'Kathmandu']]

In [ ]:
# # search
# WAP to search details of any name

In [ ]:
# WAP to create a matrix
# r = ?
# c = ?
# x = ?

# WAP to convert billing system to list inside list
# Momo 200 3.0 600.0
# Coke 100 3.0 300.0
# To list inside list and do CRUD operation

# WAP to create result management system using list inside list