In [1]:
# set
# -No indexing
# -unOrdered
# -Multiple data no duplicate
# -Mutable

In [2]:
s = set()
s = {1,2,3,4,5,6,7,8,9}
t = {"Apple","Ball","Cat","Dog","Fish"}
print(s)
print(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'Fish', 'Dog', 'Apple', 'Cat', 'Ball'}

In [3]:
t

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [4]:
t = {"Apple","Ball","Cat","Dog","Fish"}
t[0]

TypeError: 'set' object is not subscriptable

In [1]:
t = {"Apple","Ball","Cat","Dog","Fish"}
for i in t:
    print(i)

Cat
Dog
Ball
Fish
Apple

In [2]:
t = {"Apple","Ball","Cat","Dog","Fish","Apple"}
t

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [4]:
l = [1,2,3,4,5,6,2,3,4,5,6,7,8,9,0,3,4,6]
s = set(l)
l = list(s)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
t = {1,}
type(t)

set

In [13]:
#Adding values in set
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
print(s)

Enter n = 5
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = Dog
Enter x = Fish
{'Cat', 'Dog', 'Fish', 'Ball', 'Apple'}

In [14]:
a = {'Cat', 'Dog', 'Fish', 'Ball', 'Apple'}
a.replace('Cat','cat')
a

AttributeError: 'set' object has no attribute 'replace'

In [15]:
#remove data from set
a = {'Cat', 'Dog', 'Fish', 'Ball', 'Apple'}
a.remove('Cat')
a

{'Apple', 'Ball', 'Dog', 'Fish'}

In [ ]:
# No + *

In [16]:
#update
a = {'Cat', 'Dog', 'Fish', 'Ball', 'Apple'}
b = {1,2,3,4,5,6,7,8,9,0}
a.update(b)
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [23]:
#intersection()
U = {'Jobs', 'Satya', 'Sam', 'John', 'Hari', 'Bill', 'Gates', 
     'Samrat', 'Mike', 'Akash', 'Nabin', 'Ram', 'Steav', 'Sameer','abc','xyz'}


apple = {"Steav","Jobs","Hari","Ram","Sameer","Akash","John","Mike"}
ms = {"Bill","Gates","Satya","Mike","Akash","Nabin","Samrat","Sam","Ram"}

intr = apple.intersection(ms)
print("Common people working on both companies", intr)


uni = apple.union(ms)
print("all unique people working on  companies", uni)


only_apple = apple - ms
print("People working only on apple ",only_apple)

only_ms = ms - apple
print("People working only on ms ",only_ms)


not_apple_ms = U - uni
print("The people not in apple and ms = ",not_apple_ms)

Common people working on both companies {'Ram', 'Mike', 'Akash'}
all unique people working on  companies {'Jobs', 'Satya', 'Sam', 'John', 'Hari', 'Bill', 'Gates', 'Samrat', 'Mike', 'Akash', 'Nabin', 'Ram', 'Steav', 'Sameer'}
People working only on apple  {'Jobs', 'John', 'Hari', 'Steav', 'Sameer'}
People working only on ms  {'Satya', 'Sam', 'Bill', 'Gates', 'Samrat', 'Nabin'}
The people not in apple and ms =  {'abc', 'xyz'}

In [24]:
apple.isdisjoint(ms)

False

In [25]:
a = {1,2,3}
b = {1,2,3,4,5,6,7,8,9,0}
a.issubset(b)

True

In [28]:
b.issuperset(a)

True

In [29]:
# No mutable datatype inside set

In [30]:
a = {'Satya', 'Sam', 'Bill', 'Gates', 'Samrat', 'Nabin'} # => str is imutable
a

{'Bill', 'Gates', 'Nabin', 'Sam', 'Samrat', 'Satya'}

In [31]:
a = {('Satya', 'Sam', 'Bill',),( 'Gates', 'Samrat', 'Nabin')} # => tuple is imutable
a

{('Gates', 'Samrat', 'Nabin'), ('Satya', 'Sam', 'Bill')}

In [32]:
a = {['Satya', 'Sam', 'Bill',],[ 'Gates', 'Samrat', 'Nabin']} # => list is mutable
a

TypeError: unhashable type: 'list'

In [33]:
a = {{'Satya', 'Sam', 'Bill',},{ 'Gates', 'Samrat', 'Nabin'}} # => set is mutable
a

TypeError: unhashable type: 'set'

In [34]:
a = {{1:1},{2:4},{3:9}}  # => set is mutable
a

TypeError: unhashable type: 'dict'