In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [5]:
a = "Hello Word\n"
print(a*2)

Hello Word
Hello Word

In [6]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = Hello
Enter b = World
Hello World

In [7]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = "Hello World I am " + name + " I am " +str(age) + " I am from " + add
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello World I am Ram I am 34 I am from Kathmandu

In [ ]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + "\t" + phone + "\n"
    
print(s)

In [ ]:
a = "Hello World. I am Python."
for i in a:
    if i != ".":
        print(i,end = "")
        
a

In [ ]:
i = 0
a = "Hello World. I am Python."
while i<len(a):
    if a[i] != ".":
        print(a[i],end = "")
    i = i+1

In [ ]:
i = 0
a = "Hello World. I am Python."
while i<len(a):
    if a[i] == ".":
        break
    print(a[i],end = "")
    i = i+1

In [9]:
a = "Hello World"
l = len(a)
print(l)

11

In [14]:
#range
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[0:11:2])

H
Hello
HloWrd

In [21]:
a = "Hello World"
print(a[::-1])

dlroW olleH

In [24]:
a = input("Enter a = ")
if a == a[::-1]:
    print("The is palindrome")
else:
    print("The no is not palindrome")

Enter a = 1011
The no is not palindrome

In [27]:
# string formatting
name = "Ram"
age = 11
add = "Kathmandu"

info = f"Hello World I am {name}. I am from {add}. I am {age}"
info

'Hello World I am Ram. I am from Kathmandu. I am 11'

In [ ]:
#s = str()
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + f"{name}  {phone}  \n"
    
print(s)

In [29]:
# WAP to create a billing system
# name
# price
# quantity
# total
# output:
# Momo 1 200 200
# Coke 2 100 200
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    
print(bill)

Enter n = 2
Enter name = Momo
Enter price = 200
Enter quantity = 3
Enter name = Coke
Enter price = 100
Enter quantity = 3
Momo 200 3.0 600.0
Coke 100 3.0 300.0

In [31]:
a = "Ram Shyam Hari Sita Gita Sameer"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print("No")

Yes
1

In [39]:
a = "Ram Shyam Hari Sita Gita Sameer Ramesh".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = a
Yes
7

In [34]:
a = "Ram Shyam Hari Sita Gita Sameer"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA GITA SAMEER
ram shyam hari sita gita sameer
Ram Shyam Hari Sita Gita Sameer

In [41]:
a = "Ram Shyam Hari Sita Gita Sameer"
a = a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Sita Gita Sameer

In [42]:
a = "Ram Shyam Hari Sita Gita Sameer Ramesh"
a = a.replace('Ram ','Rama ')
print(a)

Rama Shyam Hari Sita Gita Sameer Ramesh

In [43]:
a = "Ram Shyam Hari Sita Gita Sameer Ramesh"
a = a.replace('Ram ','')
print(a)

Shyam Hari Sita Gita Sameer Ramesh

In [46]:
# slicing
a = "Ram Shyam Hari Sita Gita Sameer Ramesh"
b = a[0:9]
print(b)

Ram Shyam

In [ ]:
# .replace(),
# .lower(),
# .upper(),
# .title()
# .lstrip(),
# .rstrip(),
# .strip(),
# .split(), .join(), .isdigit(), isupper(), islower()

In [47]:
a = "ram shyam hari sita gita sameer"
print(a.title())

Ram Shyam Hari Sita Gita Sameer

In [48]:
a = "ram shyam hari sita gita sameer"
print(a.split())

['ram', 'shyam', 'hari', 'sita', 'gita', 'sameer']

In [49]:
a = "ram.shyam.hari.sita.gita.sameer"
print(a.split('.'))

['ram', 'shyam', 'hari', 'sita', 'gita', 'sameer']

In [50]:
a = '''"!@#$%^&*()''"'''
a

'"!@#$%^&*()\'\'"'

In [51]:
a = "100"
a.isdigit()

True

In [52]:
# isupper(), islower()
a = "ram shyam hari sita gita sameer"
a.isupper()

False

In [53]:
a = "ram shyam hari sita gita sameer"
a.islower()

True

In [57]:
# join()
a = "Hello "
b = "world"
print(a.join(b))

wHello oHello rHello lHello d

In [60]:
# join()
a = ""
b = ["Hello ","world"]
print(a.join(b))

Helloworld

In [62]:
a = ['ram', 'shyam', 'hari', 'sita', 'gita', 'sameer']
b = " "
b.join(a)

'ram shyam hari sita gita sameer'