In [1]:
# Tuple
# indexing
# multiple and duplicate
# ordered
# Imutable

In [2]:
t = tuple()
t = ()
print(type(t))

<class 'tuple'>

In [3]:
t = (1,2,3,4,5)
a = ("Apple","Ball","Cat","Dog","Fish")

print(a)
print(t)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
(1, 2, 3, 4, 5)

In [7]:
a = ("Apple","Ball","Cat","Dog","Fish","Apple")
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
('Apple', 'Cat', 'Fish')

In [8]:
# # Imutable
# No append() insert() extend()
# No Update
# No delete
# No sort

In [9]:
a = ("Apple","Ball","Cat",)
b = ("Dog","Fish","Apple")
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [20]:
a = ("Apple","Ball","Cat",)
print(a*2)

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [15]:
a = ("Apple",)
type(a)

tuple

In [17]:
a = ()
b = ("Ball",)
c = a+b
c

('Ball',)

In [18]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
    
t

Enter n = 5
Enter x = 234
Enter x = 345
Enter x = 234
Enter x = 45
Enter x = 234

(234, 345, 234, 45, 234)

In [19]:
# sum() max() min() 
print("Sum = ",sum(t))
print("max = ",max(t))
print("min = ",min(t))

Sum =  1092
max =  345
min =  45

In [21]:
# index
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg')
a.index('Ant')

2

In [22]:
# index
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg')
l = len(a)
for i in range(l):
    print(a[i])

Goat
Fish
Ant
Apple
Egg

In [23]:
# index
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish")
l = len(a)
for i in range(l):
    if "Fish" == a[i]:
        print(i)

1
5

In [24]:
#search
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish")
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))

Yes
1

In [26]:
# index
c = 0
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish")
value = input("Enter value = ")
l = len(a)
for i in range(l):
    if value.lower() == a[i].lower():
        c = c+1
if c>0:
    print(f"Yes there are/is {c} no of {value}")

Enter value = goat
Yes there are/is 1 no of goat

In [32]:
#tuple to list
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish")
b = list(a)
del b[0]
a = tuple(b)
a

('Fish', 'Ant', 'Apple', 'Egg', 'Fish')

In [33]:
a = ('Goat', 'Fish', 'Ant', 'Apple', 'Egg',"Fish")
sorted(a)

['Ant', 'Apple', 'Egg', 'Fish', 'Fish', 'Goat']

In [35]:
# tuple inside tuple
a = (("Ram",78,"Kathmandu"),
    "Shyam",45,"Bhaktapur"))

In [36]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    t = t + ((name,age,add),)
    
t

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur

(('Ram', 89, 'Kathmandu'), ('Shyam', 89, 'Bhaktapur'))